[class*="col-"] {
    width: 100%;
}

/*Den grå farve er der for at vise at der er en div, fjernes ved lejlighed*/
.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px;
}

.h1 {
   font-family: 'Montserrat', sans-serif; 
   text-align: center;    
}

/*Hvad skal der ske med denne?*/
.u_logo {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;   
}

.blog1 {
   background-color: #f1f1f1;
   border: 1px solid grey;
    padding: 50px;
    margin-bottom: 5px;
}

.blog2 {
   background-color: #f1f1f1;
   border: 1px solid grey;
    padding: 50px;
    margin-bottom: 5px;
}

.blog3 {
   background-color: #f1f1f1;
   border: 1px solid grey;
    padding: 50px;
}

p {
    font-family: 'Raleway', sans-serif;
}


